
<script>
    $("#messageForm").submit(function(event){
        event.preventDefault();
        console.log("Submitting form.............")

        var email = document.forms['messageForm'].elements['email'].value;

        let valid_email = ValidateEmail(email);
        console.log("valid_email: " + valid_email);

        if (valid_email)
        {
            $.ajax({
                url: "/save/",
                data:$("#messageForm").serialize(),
                dataType:"json",
                type: "POST",
                success: function(data){
                    if(data.msg === 'Success'){
                        clear_form()
                        alert("Form submitted successfully");
                        closeModal()
                    }
                    else{
                        alert("Error submitting form. Please check if the fields are correct.")
                    }
                }

            });
        }

    });

    function ValidateEmail(email) 
    {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
        {
            return (true)
        }
        alert("You have entered an invalid email address!")
        return (false)
    }

    function closeModal(){
        event.preventDefault();
        console.log("Closing modal..........")
        $('#myModal').modal( 'hide' );
        return false;
    }

    function clear_form (){
        console.log("Clearing form..........")
        $("#messageForm").each(function(){
            this.reset();
        });
    }

</script>